{% extends "base.html" %}
{% block content %}
    <div class="form-container">
        <form action="{{ request.url_for('submit_link') }}" method="post">
            <label for="receipt_date">Дата чека:</label>
            <input type="text" id="receipt_date" name="receipt_date"><br>
            <label for="receipt_number">Номер чека:</label>
            <input type="number" id="receipt_number" name="receipt_number"><br>
            <label for="receipt_product">Наименование товара:</label>
            <input type="text" id="receipt_product" name="receipt_product"><br>
            <label for="receipt_qty">Количество:</label>
            <input type="number" id="receipt_qty" name="receipt_qty"><br>
            <label for="receipt_price">Цена:</label>
            <input type="number" id="receipt_price" name="receipt_price"><br>
            <input type="submit" value="Генерация">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    window.onload = function () {
        const today = new Date();
        const formattedDate = String(today.getDate()).padStart(2, '0') + '.' +
            String(today.getMonth() + 1).padStart(2, '0') + '.' +
            today.getFullYear();
        document.getElementById("receipt_date").value = formattedDate;
        const randomNumber = Math.floor(Math.random() * (60000 - 50000 + 1)) + 50000;
        document.getElementById("receipt_number").value = randomNumber;
    };
</script>
{% endblock %}
