body {
    background: #d7e4ee;
}

li {
	list-style-type: none;
  }

.navbar {
    background-color: #00111a;
}

.nav-link {
	color: #ffffff;
}

.nav-link.nav-link-yellow {
	color: #f6ff00;
}

.btn {
	width: 300px;
	font-family: Roboto;
	font-size: 16;
}

.container-banner {
	max-width: 898px;
}

header .navbar {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    padding: 0px 0rem;
}

.adress {
	color: #f0f4f7;
	padding-left: 10px;
}

main {
	max-width: 898px;
}

.container-fluid {
	min-width: 320px;
    display: flex;
    
}  

.main-contain {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.stock-contain {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 27rem;
	border: none;
}

.btn-circle:hover,.btn-circle:focus,.btn-circle:visited {
background-color: rgb(41, 56, 63);
}

.btn-circle {
    width: 150px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
	margin: 5px;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
	background-color: #00111a;
}

.card-text {
	
	font-family: Roboto;
	font-size: 15px;
}

.text-body-secondary {
	font-size: 12px;
}

.card-price {
	font-weight: bold;
	font-family: Roboto;
	font-size: 20px;
}

.card-description {
	font-family: Roboto;
	font-size: 12px;
}

.hover-image-scale {
	width: 100%;
	height: 100%;
	display: inline-block; 
	position: relative;
}
  
.stock-contain img {
	transition: 0.4s;
	display: block; 
}

.stock-contain img:hover {
	transform: scale(1.17); /* Увеличиваем масштаб */
}
